*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body-text {
    display: flex;
    font-family: Arial;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

.heading {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: teal;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14xp;
    padding: 14px 16px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a.active {
    background-color: darkorange;
}

.nav-links li a:hover:not(.active) {
    background-color: lightseagreen;
}